h2 {
	text-align: center;
	color: silver;
}

.tbl_goods {
	width: 100%;
	border-collapse: collapse;
	tr {
		th, td {
			padding: 10px;
			text-align: left;
			border: 1px solid #E5E5E5;
			&:first-letter {
				text-transform: uppercase;
			}
		}
	}
}